.skills-main {
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: center;
    position: relative;
    min-height: 100vh;
    background: linear-gradient(
        180deg,
        var(--color-gray-900) 0%,
        var(--color-gray-800) 100%
    );
}

.skills-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    gap: 1.5rem 0rem;
    width: 70%;
}