.about-main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;

    background: linear-gradient(
        180deg,
        var(--color-gray-800) 0%,
        var(--color-gray-900) 100%
    );
    color: var(--about-primary-text-color);

    position: relative;
    padding-top: 3rem;
}

.about-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1400px;
    width: 100%;
    gap: 4rem;
    padding: 0 3rem;
}

.about-img-wrapper {
    flex: 1;
    display: flex;
    justify-content: center;
}

.about-img-glow {
    padding: 10px;
    border-radius: 12%;
    background: radial-gradient(
        circle,
        rgba(108, 45, 199, 0.3),
        rgba(108, 45, 199, 0.1) 40%,
        rgba(108, 45, 199, 0) 70%
    );
    box-shadow: 0 0 40px rgba(108, 45, 199, 0.2);
}

.about-img {
    width: 100%;
    height: 100%;
    max-height: 500px;
    max-width: 500px;
    border-radius: 12%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border: 1px solid rgba(255,255,255,0.08);
}

.about-text-wrapper {
    flex: 2;
    display: flex;
    flex-direction: column;
}

.about-title {
    font-size: clamp(2rem, 3vw, 3rem);
    font-weight: 700;
    color: var(--color-purple-300);
    text-align: left;
}

.about-paragraph {
    font-size: clamp(1rem, 1.5vw, 1.25rem);
    line-height: 1.5;
    color: var(--color-white);
    
}

@media (max-width: 900px) {
    .about-container {
        flex-direction: column-reverse;
        text-align: center;
        gap: 2rem;
        padding: 0 1.5rem;
    }

    .about-text-wrapper {
        align-items: center;
    }

    .about-img {
        max-width: 300px;
    }
}

.about-paragraph-card {
    background: rgba(50, 50, 60, 0.6);
    backdrop-filter: blur(12px);
    border: 1px solid rgba(108, 45, 199, 0.3);
    border-radius: 12px;
    box-shadow: 0 0 25px rgba(108, 45, 199, 0.15);
    text-align: justify;
    padding: 0rem 1.5rem;
}


.about-paragraph-card {
    border-left: 4px solid var(--color-purple-500);
    padding-left: 1.5rem;
}

.about-school-card {
    background: rgba(80, 45, 150, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 12px;
    padding: 0rem 1.5rem;
    margin-bottom: 1.5rem;

    display: inline-block;
    box-shadow: 0 4px 20px rgba(108, 45, 199, 0.15);
    border-left: 4px solid var(--color-purple-500);
    transition: all 0.3s ease;
    color: var(--color-white);
    font-weight: 600;
    
}

.about-school-paragraph {
    color: var(--color-gray-100);
    font-weight: 700;
    line-height: 1.6;
    text-align: left;
    font-size: clamp(1rem, 1.2vw, 1.1rem);
}

.about-paragraph-card,
.about-school-card {
    width: 90%;
}