.scroll-indicator {
    position: fixed;
    top: 50%;
    right: 2rem;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    z-index: 1000;
}

.scroll-line {
    position: absolute;
    width: 3px;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    z-index: -1;
}

@media (max-width: 1250px) {
    .scroll-indicator {
        right: 1rem;
        gap: 1.5rem;
    }
}

@media (max-width: 900px) {
    .scroll-indicator {
        display: none;
    }
}


.scroll-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 1);
    cursor: pointer;
    transition: all 0.3s ease;
}

.scroll-dot.active {
    background: var(--color-purple-500);
    box-shadow: 0 0 12px var(--color-purple-500);
    transform: scale(1.3);
}
