.navbar-main {
    position: absolute;
    display: flex;

    width: 100vw;
    height:auto;
    top: 0;
    padding: 2rem 0;
    z-index: 1000;

    background-color: rgba(13, 13, 15, 0.15);
    border-radius: 0 0 20px 20px;

    justify-content: center;
    overflow: hidden;
    
}

@media (max-width: 900px) {
    .navbar-main {
        display: none;
    }
}


.navbar-item {
    position: relative;
    color: var(--color-purple-500);

    padding: 0.5rem 1rem;
    margin: 0 1rem;
    text-decoration: none;
    font-weight: bold;

    font-size: 1.1rem;

    border: 1px solid transparent;
    border-radius: 8px;

    transition: background-color 0.5s ease, color 0.25s ease;
}

.navbar-item:hover {
    background-color: var(--color-purple-500-transparent);
    color: var(--color-white);
    border-color: var(--color-purple-500);
    transform: translateY(-2px);
    transition: transform 0.25s ease;
    box-shadow: 0 0 15px rgba(108, 45, 199, 0.4);
}

.navbar-item::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -5px;
    width: 0%;
    height: 1px;
    background-color: var(--accent-purple, #6C2DC7);
    transition: all 0.3s ease;
    transform: translateX(-50%);
}

.navbar-item:hover::after {
    width: 100%;
}


